body {
    font-family: 'Muli',
    sans-serif;
}
.mainJumbo {
    margin-bottom: 25px;
}
div.typing-text {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
  
  }
